plugin/pluginSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="apiVersion" type="xs:string" />
    <xs:element name="domain" type="xs:string" />
    <xs:element name="description" type="xs:string" />
    <xs:element name="hasService" type="xs:boolean" />
    <xs:element name="plugin">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="apiVersion" />
                <xs:element ref="domain" />
                <xs:element ref="description" />
                <xs:element ref="hasService" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>