plugin/pluginSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="pluginType">
        <xs:sequence>
            <xs:element name="apiVersion" type="xs:string" />
            <xs:element name="domain" type="xs:string" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="hasService" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="plugin" type="pluginType" />
</xs:schema>